@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sofia&family=Tangerine:wght@400;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(235, 190, 198);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#type-two {
    margin-top: 4rem;
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

strong {
    font-family: "Sofia", cursive;
    font-weight: bolder;
    font-style: normal;
    text-align: left;
}

.fancy-text {
    font-size: 2.5rem;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    margin-top: -1rem;
}

.message {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 1.5rem;
    line-height: .8;
}

.container {
    width: 300px;
    height: 230px;
    animation: envelope 2s ease-in-out infinite;
}

.shadow {
    position: absolute;
    width: 320px;
    height: .5rem;
    background: #666;
    box-shadow: 0 .5rem 9px #807d7d;
    margin-top: 20rem;
    border-radius: 50%;
    animation: shadow 2s ease-in-out infinite;
}

.container>.envelope-wrapper {
    background: #e3e3e3;
    box-shadow: 0 0 40px #666;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.container>.envelope-wrapper>.envelope {
    position: relative;
    width: 300px;
    height: 230px;

}

@keyframes envelope {
    50% {
        transform: translateY(-4rem);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes shadow {
    50% {
        transform: scale(0.7);
    }
}

.envelope::before {
    content: '';
    position: absolute;
    z-index: 2;
    border-top: 130px solid #c1c1c1;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    top: 0;
    transform-origin: top;
    transition: all 0.3s ease-in-out 0.7s;
}

.envelope::after {
    content: '';
    position: absolute;
    z-index: 10;
    border-top: 130px solid transparent;
    border-bottom: 100px solid #999;
    border-right: 150px solid #999;
    border-left: 150px solid #999;
    bottom: 0;
    transform-origin: bottom;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.letter {
    position: absolute;
    right: 22.5%;
    width: 54%;
    height: 60%;
    background: whitesmoke;
    transition: all 1s ease-in-out;
    padding: 1rem 1rem;
    box-shadow: 0 0 10px #666;
    border-radius: .6rem;
}

.letter>.text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.heart {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background: rgb(229, 48, 48);
    z-index: 1000;
    transform: translate(-50%, -20%) rotate(45deg);
    transition: transform 1s ease-in-out 1s;
    box-shadow: 0 0 10px #666;
    cursor: pointer;
}

.heart::before,
.heart::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(229, 48, 48);
    border-radius: 50%;
}

.heart::before {
    top: -7.5px;
}

.heart::after {
    right: 7.5px;
}

.flap>.envelope::before {
    z-index: 0;
    transform: rotateX(180deg);
    transition-duration: 2s;
}

.flap>.envelope .letter {
    bottom: 90px;
    transform: scale(1.5);
    transition-delay: 2s;
}

.flap>.heart {
    transform: rotate(220deg);
    transition-delay: 0.4s;
}

#btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.btns {
    padding: 1rem 2rem;
    border: none;
    box-shadow: 0 .6rem 5px #666;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out 0.2s;
}

#btn button:first-of-type {
    margin-right: 3rem;
}

.btns:hover {
    cursor: pointer;
    background-color: pink;
    color: whitesmoke;
    transform: scale(1.3);
}

#happy-dog {
    display: none;
    width: 300px;
    text-align: center;
    color: whitesmoke;
    font-family: "Tangerine", cursive;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 0 0.8rem 5px #333;
}

#sad-dog {
    display: none;
    width: 300px;
    text-align: center;
    color: whitesmoke;
    font-family: "Tangerine", cursive;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 0 0.5rem 5px #333;
}